@font-face{
	font-family: 'dinpro';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/DinPro/dinpro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/DinPro/dinpro-regular.woff') format('woff'), url('../fonts/DinPro/dinpro-regular.ttf') format('truetype');
}
		